{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('loginstyle/styleregister.css') }}">
{% endblock %}
{% block body %}
    <h1>Register</h1>
    <div class="wrapper">
    
        <h2>Inscription</h2>
    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
    <div class="input-field">
        {{ form_row(registrationForm.email) }}
    </div>
    <div class="input-field">
        {{ form_row(registrationForm.nom) }}  
    </div>
    <div class="input-field">
        {{ form_row(registrationForm.prenom) }}
    </div>
    <div class="input-field">
        {{ form_row(registrationForm.id_region) }}
    </div>
    <div class="input-field">
        {{ form_row(registrationForm.plainPassword) }}
    </div>
    <div class="forget">
        {{ form_widget(registrationForm.agreeTerms) }}
      
    </div>
    <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
    </div>
{% endblock %}
       