{% extends 'base.html.twig' %}

{% block title %}Détail du Lieu de Camping{% endblock %}
{%block stylesheets%}<link rel="stylesheet" href="{{ asset('lieu/details.css') }}">
{% endblock %}



{% block body %}
    <section class="blog-post">
        <div class="container">
            <!-- Article principal du blog -->
            <article class="post">
                <header class="post-header">
                    <h1 class="post-title">{{ lieuCamping.nom }}</h1>
                    <div class="post-meta">
                       
                        <span class="post-location"><strong>Coordonnées :</strong> {{ lieuCamping.coordonner }}</span>
                    </div>
                </header>

                <!-- Image principale du lieu -->
                {% if lieuCamping.photo %}
                    <div class="post-image">
                        <img src="{{ asset('uploads/photos/' ~ lieuCamping.photo) }}" alt="{{ lieuCamping.nom }}" class="img-fluid">
                    </div>
                {% endif %}
                <a href="{{ path('app_reservation',{ id: lieuCamping.id }) }}" class="btn btn-primary">reserver Maintenant</a>
                <!-- Contenu de la description -->
                <div class="post-content">
                    <h2>Description</h2>
                    <p>{{ lieuCamping.description | raw }}</p>
                </div>

                <!-- Section footer avec bouton retour -->
                <footer class="post-footer">
                    <a href="{{ path('app_lieu_camping') }}" class="btn btn-primary">Retour à la liste des lieux</a>
                </footer>
            </article>
        </div>
    </section>
{% endblock %}
