<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AdminLTE 3 | Dashboard 2</title>
{% block head %}
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="{{ asset('admintmp/plugins/fontawesome-free/css/all.min.css')}}">
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="{{ asset('admintmp/plugins/overlayScrollbars/css/OverlayScrollbars.min.css')}}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{{ asset('admintmp/dist/css/adminlte.min.css')}}">
  <link rel="stylesheet" href="{{asset('admintmp/plugins/datatables-buttons/css/buttons.bootstrap4.min.css')}}">
  <link rel="stylesheet" href="{{asset('admintmp/plugins/datatables-responsive/css/responsive.bootstrap4.min.css')}}">
  <link rel="stylesheet" href="{{asset('admintmp/plugins/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css')}}">
</head>
{% endblock head %}
{% block body %}
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="info">
                <a href="{{ path('app_home') }}" class="d-block">Camping Center</a>
            </div>
        </div>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="{{ path('app_reservation_crud_index') }}" class="nav-link">
                      <i class="nav-icon fas fa-calendar"></i>
                      <p>
                        Reservation 
                      </p>
                    </a>
                  </li>
                <li class="nav-item">
                    <a href="{{ path('app_user_index') }}" class="nav-link">
                        <i class="nav-icon far fa-user"></i>
                        <p>Utilisateurs</p>
                    </a>
                </li>
                <li class="nav-item">
                  <a href="{{path('app_lieucamping_index')}}" class="nav-link">
                    <i class="nav-icon fas fa-mountain"></i>
                    <p>
                      Centre de camping 
                    </p>
                  </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
  
  <section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- Carte pour la gestion des utilisateurs -->
            
        </div>
    </div>
</section>
</div>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Camping Dashboard</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard v2</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
<div class="container-fluid">
    <!-- Info boxes -->
    <div class="row">
        <!-- Nombre de réservations -->
        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-info elevation-1"><i class="fas fa-book"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Réservations</span>
                    <span class="info-box-number">{{ reservationsCount }}</span>
                </div>
            </div>
        </div>

        <!-- Nombre de lieux de camping -->
        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-success elevation-1"><i class="fas fa-campground"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Lieux de Camping</span>
                    <span class="info-box-number">{{ lieuxCampingCount }}</span>
                </div>
            </div>
        </div>

        <!-- Nombre d'utilisateurs -->
        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Utilisateurs</span>
                    <span class="info-box-number">{{ utilisateursCount }}</span>
                </div>
            </div>
        </div>
    </div>

    <!-- Graphiques -->
    <div class="container-fluid">
      <!-- Graphiques Utilisateurs par Région et Répartition des Réservations par Lieu -->
      <div class="row">
          <!-- Graphique Utilisateurs par Région -->
          <div class="col-md-6">
              <div class="card card-info">
                  <div class="card-header">
                      <h3 class="card-title">Utilisateurs par Région</h3>
                  </div>
                  <div class="card-body">
                      <canvas id="usersByRegionChart" style="min-height: 250px; height: 250px;"></canvas>
                  </div>
              </div>
          </div>
  
          <!-- Graphique Répartition des Réservations par Lieu -->
          <div class="col-md-6">
              <div class="card card-info">
                  <div class="card-header">
                      <h3 class="card-title">Répartition des Réservations par Lieu</h3>
                  </div>
                  <div class="card-body">
                      <canvas id="resparlieuChart" style="min-height: 250px; height: 250px;"></canvas>
                  </div>
              </div>
          </div>
      </div>
  </div>
  
 {% endblock body %}
  
<!-- ./wrapper -->
{% block scripts %}
<!-- REQUIRED SCRIPTS -->
<!-- jQuery -->
<script src="{{ asset('admintmp/plugins/jquery/jquery.min.js')}}"></script>
<!-- Bootstrap -->
<script src="{{ asset('admintmp/plugins/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
<!-- overlayScrollbars -->
<script src="{{ asset('admintmp/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js')}}"></script>
<!-- AdminLTE App -->
<script src="{{ asset('admintmp/dist/js/adminlte.js')}}"></script>

<!-- PAGE PLUGINS -->
<!-- jQuery Mapael -->
<script src="{{ asset('admintmp/plugins/jquery-mousewheel/jquery.mousewheel.js')}}"></script>
<script src="{{ asset('admintmp/plugins/raphael/raphael.min.js')}}"></script>
<script src="{{ asset('admintmp/plugins/jquery-mapael/jquery.mapael.min.js')}}"></script>
<script src="{{ asset('admintmp/plugins/jquery-mapael/maps/usa_states.min.js')}}"></script>
<!-- ChartJS -->
<script src="{{ asset('admintmp/plugins/chart.js/Chart.min.js')}}"></script>

<!-- AdminLTE for demo purposes -->
<script src="{{ asset('admintmp/dist/js/demo.js')}}"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="{{ asset('admintmp/dist/js/pages/dashboard2.js')}}"></script>
<script>
 
  // Données pour le graphique des utilisateurs par région
  const usersByRegionData = {
      labels: {{ regions|raw }}, 
      datasets: [{
          label: 'Utilisateurs',
          backgroundColor: ['#f46e3f', '#1cffee', '#00a65a', '#f39c12', '#00c0ef', '#3c8dbc'],
          borderColor: '#ffffff',
          borderWidth: 1,
          data: {{ userCounts|raw }} // Les nombres d'utilisateurs par région
      }]
  };

  // Configuration du graphique
  const usersByRegionOptions = {
      responsive: true,
      maintainAspectRatio: false,
      scales: {
          y: {
              beginAtZero: true
          }
      },
      plugins: {
          legend: {
              display: false
          }
      }
  };

  // Initialisation du graphique
  new Chart(document.getElementById('usersByRegionChart'), {
      type: 'bar', 
      data: usersByRegionData,
      options: usersByRegionOptions
  });
</script>
<script>
 
  const resparlieuData = {
      labels: {{ lieuNames|raw }}, 
      datasets: [{
          label: 'Utilisateurs',
          backgroundColor: ['#b8f43f', '#f56954', '#3ff4e6', '#b8f43f', '#f46e3f', '#3fd3f4'],
          borderColor: '#ffffff',
          borderWidth: 1,
          data: {{ reservationCounts|raw }} 
      }]
  };

  // Configuration du graphique
  const resparlieuOptions = {
      responsive: true,
      maintainAspectRatio: false,
      scales: {
          y: {
              beginAtZero: true
          }
      },
      plugins: {
          legend: {
              display: false
          }
      }
  };

  // Initialisation du graphique
  new Chart(document.getElementById('resparlieuChart'), {
      type: 'bar', // Vous pouvez changer ce type en 'pie' ou 'doughnut' pour d'autres graphiques
      data: resparlieuData,
      options: resparlieuOptions
  });
  
</script>
<script>
  


{% endblock scripts %}
</body>
</html>
