{{ form_start(form) }}
    {{ form_widget(form.email) }}
   
    {{ form_widget(form.password) }}
    {{ form_widget(form.nom) }}
    {{ form_widget(form.prenom) }}
    {{ form_widget(form.id_region) }}
   
    
    <button class="btn">{{ button_label|default('Update') }}</button>
{{ form_end(form) }}
    